<nav class="navbar">
   
    <div class="nav-brand">
         <img src="/logo.png" alt="VetClinic Logo" class="logo-img">
        <h2>{{translate.t.appName}}</h2>
    </div>

    <div class="nav-links">
        <a routerLink="/animals" routerLinkActive="active-tab">{{translate.t.patients}}</a>
        <a routerLink="/users" routerLinkActive="active-tab">{{translate.t.users}}</a>
         <a routerLink="/medications" routerLinkActive="active-tab">{{translate.t.medications}}</a>
    </div>

    <div class="nav-actions">
        <button class="lang-btn" (click)="translate.toggleLanguage()">{{translate.currentLang === 'en'? 'SR' : 'EN'}}</button> 
    </div>

    <button class="logout-btn" (click)="handleLogout()">{{translate.t.logout}}</button>

</nav>
