<div class="animal-dashboard">
    <header class="dashboard-header">
        <h1>{{translation.t.patients}}</h1>
    </header>

    <div class="filter-bar">
        <input type="text" [(ngModel)]="searchTerm" (input)="loadAnimals()" placeholder="{{translation.t.searchPlaceholder}}">

        <select [(ngModel)]="selectedSpecies" (change)="loadAnimals()">
            <option [ngValue]="null">{{translation.t.allSpecies}}</option>

            @for (speciesName of speciesOptions; track speciesName; let i = $index)
            {
                <option [ngValue]="i">{{speciesName}}</option>
            }

        </select>
    </div>

    @if(errorMessage)
    {
        <div class="error-banner">
            <p>{{translation.getErrorMessage(errorMessage)}}</p>
        </div>
    }

    <div class="grid-container">
        @for (animal of animals; track animal.id)
        {
            <div class="animal-card">
                <h3>{{animal.name}}</h3>
                <div class="card-details">
                    <p><strong>{{translation.t.code}}: </strong>{{animal.code}}</p>
                    <p><strong>{{translation.t.species}}: </strong>{{speciesOptions[animal.species!]}}</p>
                    <p><strong>{{translation.t.dob}}: </strong>{{animal.dateOfBirth}}</p>
                    <p><strong>{{translation.t.gender}}: </strong>{{genderOptions[animal.gender!]}}</p>
                    <p><strong>{{translation.t.owner}}: </strong>{{animal.ownerName}}</p>
                </div>
            </div>
        }@empty{
            @if(!errorMessage){
                <div class="no-records">
                    <p>{{translation.t.noRecords}}</p>
                </div>
            }
        }

    </div>



</div>
