<div class="user-dashboard">
    <header class="dashboard-header">
        <h1>{{translate.t.users}}</h1>
        <button class="add-btn" routerLink="/users/create">+{{translate.t.addUser}}</button>
    </header>

    <div class="filter-bar">
        <select [(ngModel)]="selectedRole" (change)="loadUsers()">
            <option [ngValue]="null">{{translate.t.allUsers}}</option>

            @for (roleName of roleOptions; track roleName; let i = $index) {
                <option [ngValue]="i">{{roleName}}</option>
            }
        </select>

       <div class="inactiveStaff">
            <input 
                type="checkbox" 
                id="showDeletedCheck" 
                [checked]="showDeleted" 
                (change)="toggleDeletedStaff($event)"
            >
            <label for="showDeletedCheck">{{translate.t.showInactiveMessage}}</label>
       </div>
  
    </div>
    

    @if(errorMessage)
    {
        <div class = "error-banner">
            <p>{{translate.getErrorMessage(errorMessage)}}</p>
        </div>
    }

    <div class="grid-container">
        @for (user of users; track user.id) {
            <div class="user-card">
                <h3>{{user.name}}</h3>
                <h3>{{roleOptions[user.role!]}}</h3>
                <div class="card-details">
                    <p><strong>{{translate.t.licenceNumber}}: </strong>{{user.licenceNumber}}</p>
                    <p><strong>{{translate.t.phone}}: </strong>{{user.phone}}</p>
                    <p><strong>{{translate.t.email}}: </strong>{{user.email}}</p>
                    @if(user.isActive)
                    {
                        <span class="status-badge-active">{{ translate.t.activeProfile }}</span>
                    }
                    @else 
                    {
                        <span class="status-badge-inactive">{{ translate.t.inactiveProfile }}</span>
                    }
                </div>
                <div class="card-actions">
                    <button type="button" class="edit-btn" [routerLink]="['/users/edit', user.id]">{{translate.t.edit}}</button>
                    <button type="button" class="delete-btn" (click)="deleteUser(user.id!, $event)">{{translate.t.delete}}</button>
                </div>
            </div>
        }@empty{
            @if(!errorMessage){
                <div class="no-records">
                    <p>{{translate.t.noRecords}}</p>
                </div>
            }
        }
    </div>

</div>
